.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
  /* margin-bottom: 5.875rem; */
  align-items: center;
}

.services-box {
  display: flex;
  width: 30%;
  margin-bottom: 6.25rem;
  /* justify-content: space-between; */
  /* align-items: space-between; */
}



.services-wrapper:last-child (-n+2) {
  margin-bottom: 0;
}

.icon {
  float: left;
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 30px;
  padding: 25px;
  text-align: center;
  
}

.alarm {
  background-image: url(../image/services/alarm.png);
  background-size: cover;
}

.graph{
  background-image: url(../image/services/graph.png);
  background-size: cover;
}

.computer {
  background-image: url(../image/services/computer.png);
  background-size: cover;
}
.books {
  background-image: url(../image/services/seo.png);
  background-size: cover;
}



.home {
  background-image: url(../image/services/home.png);
  background-size: cover;
}


.digital {
  background-image: url(../image/services/digital.png);
  background-size: cover;
} */

.services-description {
  float: right;
}
.service-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: .875rem;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 1.25rem;

}

.servise-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: .9375rem;
  color: #999;
}