.section-team {
  margin-bottom: 5.25rem;
}

.team-description {
  text-align: center;
  line-height: 1.5rem;
  margin-bottom: 5.875rem;
}

.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-cart {
  width: 32%;
  position: relative;
}

.figure-image {
  background-color: #95e1d3;
  width: 23.73rem;
  height: 29.27rem;
  transition: 200ms linear;
  /* transition-duration: 1s;
  transition-timing-function: linear; */
  /* position: absolute; */
  display: block;
}

figure:hover .figure-image {
  /* top: -3%; */
  /* left: -3%; */
  transform: translate(-3%,-3%);
}

.img-box {
  background-color: #95e1d3;
  width: 23.75rem;
  height: 29.3rem;
  position: relative;
}

.member-description {
  text-align: center;
  padding: 30px;
}

.member-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: .875rem;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.member-position {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: .9375rem;
  color: #999;
}

.member-hover {
  position: absolute;
  background-image: linear-gradient(rgba(243, 129, 129, .9), rgba(252, 227, 138, .9));
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(0,0);
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  /* padding: 80px; */
  transition-duration: 200ms;
  transition-timing-function: linear;

}

figure:hover .member-hover {
  opacity: 1;
  transform: translate(-3%,-3%);
}

.social-box {
  display: flex;
}

.icon-social {
  width: 3.5rem;
  height: 3.5rem;
  border-right: 1px solid #f38181;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fce38a;
}

.icon-social:hover {
  background-color: #95e1d3;
}

/* .icon-social:last-child {
  border-right: 0;
} */

.facebook {
  background-image: url(../image/icon/facebook.png);
}

.twitter {
  background-image: url(../image/icon/twitter.png);
}

.pinterest {
  background-image: url(../image/icon/pinterest.png);
}

.instagram {
  background-image: url(../image/icon/instagram.png);
}