.content {
    display: inline-block;
    /* outline: 1px solid #333; */
    /* margin: 0 150px; */
    /* padding-bottom: 70px; */
}

.article {
    display: inline-block;
    width: 448px;
    margin-right: 60px;
    margin-bottom: 130px;
}

.article:nth-child(2n) {
    margin-right: 0;
}

.article-img {
    width: 100%;
    margin-bottom: 30px;
}

.article-title {
    margin-bottom: 40px;
    color: #626262;
    font-size: 30px;
}

.img-cap {
    text-transform: uppercase;
    color: #b4ad9e;
    margin-bottom: 30px;
}

.article-text {
    color: #626262;
    font-size: 14px;
    line-height: 1.3rem;
}

.article:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.button-more {
    display: block;
    margin: 0 auto;
    border: 1px solid #333;
    color: #626262;
    font-size: 20px;
    background-color: transparent;
    /* padding: 22px 34px; */
}
