.content {
    /* display: inline-block; */
    width: 960px;
    outline: 1px solid #333;
}

.article {
    display: inline-block;
    padding: 8px;
    width: 460px;

}

.article-img {
    margin-bottom: 8px;
}

.article-title {
    margin-bottom: 8px;
}
