header {
    margin-bottom: 100px;
}

.menu {
    /* outline: 1px solid #333; */
    list-style: none;
    font-size: 0;
    /* margin-left: 165px; */
    text-align: center;
}

.menu-item {
    display: inline-block;
    font-size: 14px;    
    margin-right: 125px;
    text-transform: uppercase;
    text-align: center
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-link {
    text-decoration: none;
    color: #626262;
}

.menu-link:hover {
    color: #03a9f4;
}
