* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 2.5rem 0;
}

.wrapper--light {
}

.wrapper--dark {
  background-color: var(--primary-dark-color);
  background-image: url(../img/Map\ Image.png);
  /* background-position-x: 100%; */
  /* background-size: cover; */
  /* background-position: 190 0; */
  background-position: right;
  background-repeat: no-repeat;
  padding: 105px 0;
  
}

.container {
  margin: 0 auto;
  width: 58.75rem;
  text-align: center;
}