.form {
  font-family: 'Montserrat';
  font-size: .875rem;
  font-weight: 700;
  margin-top: 4.6875rem;

}

.form-wrapper {
display: flex;
justify-content: space-between;
}

input, textarea {
  margin-bottom: 25px;
  
}

.block-information {
  display: flex;
  flex-direction: column;
  width: 48%;
  justify-content: space-between;
}

.message {
width: 48%;
}

.input {
  display: block;
  padding: 10px 20px;
}

.button {
  text-transform: uppercase;
  align-self: flex-end;
  color: var(--primary-light-color);
  background-color: var(--primary-golden-color);
  font-family: 'Montserrat';
  font-size: 1.125rem;
  font-weight: 700;
  padding: 20px 50px;
}

input:valid, textarea:valid {
  outline: 3px solid green;
}

input:invalid, textarea:invalid {
  outline: 3px solid red;
}


