.title-box {
  margin-bottom: 70px;
}

.container-title {
  text-transform: uppercase;
  /* color: #fff; */
  font-family: 'Montserrat';
  font-size: 2.5rem;
  font-weight: 700;
  
}

.container-title--dark {
  color: var(--primary-dark-color);
}

.container-title--white {
  color: var(--primary-light-color);
  
}


.container-title::after {
  content: 'Proin iaculis purus consequat sem cure.';
  display: block;
  text-transform: initial;
  color: var(--primary-gray-color);
  font-family: 'Elsie';
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1.5625rem;
  margin-bottom: 4.6875px;
}
