@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }

  
  .container--partner {
    padding: 75px 0 40px;
    /* text-align: center; */
  }
  
  .container--figure { 
    max-width: 1200px;
    margin-bottom: 35px;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-items: flex-start; */
  
  } 

  .header {

    margin-bottom: 155px;
    justify-content: space-between;
  }




  .promo-box {
    max-width: 1200px;
    margin: auto;
  }

  .figure-partner {
    /* width: 48%; */
    /* margin: auto; */
    margin-bottom: 0;
    /* margin-top: 0; */
    /* align-items: flex-start; */

    /* align-content: unset; */
  }

}