@media (min-width: 1200px) {
  .container {
    max-width: 75rem;
    margin: auto;
  }

  .container--partner {
    padding: 4.6875rem 0 2.5rem;
  }

  .container--figure {
    max-width: 75rem;
    margin-bottom: 2.1875rem;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .header {
    max-width: 75rem;
    margin-bottom: 9.6875rem;
    justify-content: space-between;
  }

  .promo-box {
    max-width: 75rem;
    margin: auto;
  }

  .figure-partner {
    width: 100%;
    margin-bottom: 0;
  }

}