/* header {
  margin-bottom: 35px;
} */

.header {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 2.1875rem;
}

.logo {
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.menu {
  display: flex;
  max-width: 18.4375rem;
  flex-basis: 100%;
  justify-content: space-around;
  list-style: none;
  margin-bottom: 6.875rem;
}

.menu-item {
  max-width: 5.875rem;
  max-height: 2.5rem;
  border: 2px solid transparent;
  border-radius: 35%;
  padding: .1875rem 1.25rem;
}

.menu-item--sing {
  border: 2px solid var(--primary-white-color);
  /* border-radius: 35%; */
}

.menu-link {
  text-decoration: none;
  font-size: .875rem;
  color: var(--primary-white-color);
}