.promo {
  background-color: var(--primary-dark-color);
  background-image: url(../img/promo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1.875rem 1.125rem 8.4375rem;
  text-align: center;

}

.promo-title {
  width: 100%;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 1.25rem;
}

.promo-text {
  font-size: 1.125rem;
  font-weight: 300;
  /* text-transform: uppercase; */
  color: var(--primary-white-color);
  padding: 0 .9375rem;
  margin-bottom: .9375rem;
}