@media (min-width: 321px) /*and (max-width: 768px)*/ {
  .container {
    max-width: 768px;
    margin: auto;
  }

  .promo {
    padding: 40px 0 235px ;
  }
  
  .container--partner {
    /* padding: 72px 30px 55px; */
    /* padding: 75px 0 40px; */
    /* text-align: center; */
  }
  
  .container--figure { 
    max-width: 492px;
    /* flex-direction: column; */
    padding: 0;
    margin-bottom: 40px;
    align-items: flex-start;
  
  } 

  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    /* align-items: space-between; */
    flex-wrap: nowrap;
    margin-bottom: 160px;
  }

  .menu {
    margin-bottom: 0;
  }

  .promo-box {
    max-width: 492px;
    margin: auto;
  }

  .promo-title {
    /* width: 100%; */
    font-size: 52px;
    /* text-transform: uppercase; */
    /* font-weight: normal; */
    margin-bottom: 40px;
  }
  
  .promo-text {
    font-size: 24px;
    /* font-weight: 300; */
    /* text-transform: uppercase; */
    /* color: var(--primary-white-color); */
    /* padding: 0 15px; */
    margin-bottom: 35px;
  }

  .button--find {
    max-width: 225px;
    padding: 15px 20px;
  }

  .partner-title {
    margin-bottom: 35px;
  }

  .figure-partner {
    max-width: 236px;
    width: 48%;
    /* margin: auto; */
    align-items: baseline;
    /* margin-bottom: 60px; */
    /* margin-top: 0; */
    /* align-items: stretch; */
    /* align-content: unset; */
    
  }

  .figure-partner:nth-last-child(-n+2) {
    /* width: 48%; */
    /* margin: auto; */
    /* margin-bottom: 0; */
  }

  .girl1 {
    /* display: flex; */
    order: 2;
    /* align-self: flex-start; */
  }

  .man2 {
    order: 3;
    /* width: 110%; */
    /* margin-bottom: 0; */
  }
}