@media (min-width: 321px)

/*and (max-width: 768px)*/
  {
  .container {
    max-width: 48rem;
    margin: auto;
  }

  .promo {
    padding: 2.5rem 0 14.6875rem;
  }

  .container--figure {
    max-width: 30.75rem;
    padding: 0;
    margin-bottom: 2.5rem;
    align-items: flex-start;
  }

  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-bottom: 10rem;
  }

  .menu {
    margin-bottom: 0;
  }

  .promo-box {
    max-width: 30.75rem;
    margin: auto;
  }

  .promo-title {
    font-size: 3.25rem;
    margin-bottom: 2.5rem;
  }

  .promo-text {
    font-size: 1.5rem;
    margin-bottom: 2.1875rem;
  }

  .button--find {
    max-width: 14.0625rem;
    padding: .9375rem 1.25rem;
  }

  .partner-title {
    margin-bottom: 2.1875rem;
  }

  .figure-partner {
    max-width: 14.75rem;
    width: 48%;
  }

  .girl1 {
    order: 2;
  }

  .man2 {
    order: 3;
  }
}