:root {
  --primary-white-color: #fff;
  --primary-dark-color: #333;
  --primary-gray-color: #666;
  --primary-red-color: #ff4e50;
  --primary-green-color: #1cd7ad;
  --primary-orange-color: #ffa507;
  --primary-blue-color: #4e73db;
}