nav {
    width: 470px;
    border-radius: 2px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    float: right;
    text-align: center;
}

.menu {
    display: inline-block;
    list-style: none;
    font-size: 0;
}

.menu-item {
    display: inline-block;
    font-size: 12px;
    margin: 10px;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-link {
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px;
}

.menu-link:hover {
    color: brown;
    text-decoration: underline;
}
