* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1110px;
  /* outline: 1px solid #333; */
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 80px;
  background-color: #fff;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
