header {
  /* outline: 1px solid #333; */
  margin-bottom: 100px;
}

.logo {
  float: left;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Roboto-Light', sans-serif;
  font-size: 30px;
  line-height: 32px;
  color: #515151;
}

.logo::first-letter {
  color: #1abc9c;
  font-family: 'Roboto-Black', sans-serif;
}

.menu {
  float: right;
  list-style: none;
  padding-top: 10px;
  font-family: 'Roboto-Black', sans-serif;
  /* font-size: 20px; */
  line-height: 11px;
}

.menu-item {
  float: left;
  /* display: inline-block; */
  text-transform: uppercase;
  margin-right: 36px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-link {
  display: block;
  text-decoration: none;
  color: #515151;
}

.menu-link:hover {
  color: #1abc9c;
}
