/* block gallery */
.gallery-block {
  margin-bottom: 107px;
}

.gallery-title {
  font-family: 'Roboto-Black', sans-serif;
  font-size: 48px;
  color: #515151;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 95px;
}

.gallery-title::after {
  content: '';
  display: block;
  width: 165px;
  height: 6px;
  background-color: #19bb9b;
  margin: 0 auto;
  margin-top: 30px;
}

.gallery {
  float: left;
  margin-right: 30px;
  margin-bottom: 35px;
  position: relative;
}

.gallery:nth-child(4n) {
  margin-right: 0;
}

.gallery:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.img-caption {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Roboto-Black', sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  position: absolute;
  bottom: 0px;
  height: 40px;
  padding-left: 13px;
  padding-top: 5px;
  width: 75%;
  background-color: #323232;
}

/* .img-caption:hover {
  background-color: #1abc9c;
} */

.price {
  float: right;
  font-family: 'Roboto-Black', sans-serif;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  position: absolute;
  right: 0px;
  bottom: 0;
  width: 25%;
  padding: 4px;
  background-color: #8c8c8c;
}

figure:hover .img-caption {
  background-color: #1abc9c;
}

figure:hover .price {
  background-color: #7fd9c7;
}

/* .img-caption::after {
  content: '';
  text-align: center;
  background-color: #8c8c8c;
  position: absolute;
  right: 0px;
  bottom: 0;
  width: 55px;
  padding: 4px;
  padding-left: 10px;
} */

/* .img-caption:hover::after {
  background-color: #7fd9c7;
} */


/* section blog */
.blog-block {
}

/* .blog-title {
  text-transform: uppercase;
  font-family: 'Roboto-Black', sans-serif;
  font-size: 48px;
  line-height: 32px;
  color: #555252;
  text-align: center;
}

.blog-title::after {
  content: '';
  display: block;
  width: 165px;
  height: 6px;
  background-color: #19bb9b;
  margin: 30px auto 80px;
} */

.article {
  float: left;
  margin-right: 30px;
  width: 350px;
}

.article:last-child {
  margin-right: 0;
}

.article-title {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #555252;
  margin-bottom: 30px;
}

.article-title::after {
  content: '';
  display: block;
  width: 135px;
  height: 3px;
  background-color: #19bb9b;
  margin-top: 15px;
}

.article-img {
  margin-bottom: 15px;
}

.article-text {
  font-family: 'OpenSans-Light', sans-serif;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #555252;
}

.more {
  width: 160;
  /* height: 50px; */
  background-color:#4ec6ab;
  font-family: 'OpenSans-Light', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  padding: 20px 40px;
  border-radius: 3px;
  border: none;
}
