.header-top {
  margin: 0 auto;
  width: 100%;
  padding: 35px 0;
}

.logo{
  float: left;
  text-transform: uppercase;
  color: #515151;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Roboto-Light';
}

.logo::first-letter {
  color: #1abc9c;
  font-family: 'Roboto-Black';
}

.menu {
  float: right;
  list-style: none;
  font-size: 11ßpx;
  padding-top: 10px;
}

.menu-item {
  float: left;
  text-transform: uppercase;
  margin-right: 35px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-link {
  display: block;
  font-family: 'OpenSans-Bold';
  text-decoration: none;
  color: #515151;
  font-size: 14px;
}

.menu-link:hover {
  color: #1abc9c;
}

.slider {
  width: 100%;
  background-color: #333;
  background-image: linear-gradient(rgba(0, 0, 2, .5), rgba(0, 0, 2, .5)), url(../img/slider.png);
  background-size: cover;
  padding-top: 220px;
  padding-bottom: 280px;
}

.slider-content {
  padding-left: 175px;
  /* margin: 0 auto; */
  /* text-align: center; */
  position: relative;
}
.content-text {
  /* float: left; */
  text-transform: uppercase;
  color: #fff;
  font-size: 60px;
  line-height: 1.37;
  font-family: 'Roboto-Black';
}

.tours {
  display: block;
  font-size: 24px;
  line-height: 2.25;
  font-family: 'Roboto-Light';
}

.slider-content::before {
  position: absolute;
  width: 104px;
  height: 104px;
  display: block;
  content: '\003C';
  color: #fff;
  font-size: 80px;
  font-family: 'Roboto-Light';
  background-color: rgba(78, 198, 171, .65);
  /* background-image: url(../img/arrow/left.png);*/
  background-size: cover; 
  text-align: center;
  /* /* float: left;  */
  bottom: 10%;
  left: 0;
  /* margin-right: 80px;  */
}

.slider-content::after {
  width: 104px;
  height: 104px;
  content: '\003E';
  color: #fff;
  font-size: 80px;
  font-family: 'Roboto-Light';
  background-color: rgba(78, 198, 171, .65);
  text-align: center;
  position: absolute;
  bottom: 10%;
  right: 0;
  /* margin-left: 50px; */
}

