/* gallery of collection */

.collection {
  background-color: #e9f0fd;
  width: 100%;
  padding: 100px 0;
}

.collection-title {
  text-transform: uppercase;
  font-family: RobotoBlack;
  font-size: 48px;
  color: #515151;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto-Black';
}

.collection-title::after {
  content: '';
  display: block;
  width: 165px;
  height: 6px;
  background-color: #1abc9c;
  margin: 0 auto;
  margin-top: 30px;
}

.gallery-collection {
  margin: 0 auto;
  margin-top: 80px;
}

.gallery {
  float: left;
  margin-right: 25px;
  background-color: #fff;
  position: relative;
}

.gallery:last-child {
  margin-right: 0;
}


.img-caption {
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  width: 75%;
  padding: 15px;
  background-color: #323232;
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto-Black';
}

.price {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
  background-color: #8c8c8c;
  color: #fff;
  font-size: 18px;
  width: 25%;
  font-family: 'Roboto-Black';
}
/* hover for image, icon-block */
.gallery-hover {
  display: none;
  background-color: rgba(0, 0, 0, .5);
  width: 90%;
  height: 75%;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 1;
}

.box-blocks {
  display: block;
  padding: 80px 30px 75px;
}

.icon {
  width: 48px;
  height: 48px;
  text-align: center;
  border: 1px solid #fff;
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 6px;
  /* padding: 10px; */
}

.icon:nth-child(3) {
  margin-right: 0;
}

.icon:hover {
  background-color: #1abc9c;
  /* padding: 10px; */
}

.like {
  display: block;
  width: 35px;
  height: 35px;
  margin: 6px;
  background-image: url(../img/icon/like.png);
  background-size: contain;
  background-repeat: no-repeat;

}


.shuffle {
  display: block;
  width: 35px;
  height: 35px;
  margin: 6px;
  background-image: url(../img/icon/shuffle.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.clock {
  display: block;
  width: 35px;
  height: 35px;
  margin: 6px;
  background-image: url(../img/icon/clock.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.cart-box {
  width: 165px;
  background-color: #323232;
  border: 1px solid #fff;


  float: left;
  padding: 10px;
}

.cart-icon {
  display: block;
  float: left;
  width: 35px;
  height: 35px;
  /* margin: 6px; */
  background-image: url(../img/icon/cart.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.cart-text {
  color: #fff;
  font-size: 14px;
  font-family: 'OpenSans-SemiBold';
  text-transform: uppercase;
  text-decoration: none;
  float: right;
  padding: 12px 5px;
}

.gallery:hover .img-caption {
  background-color: #1abc9c;
}

.gallery:hover .price {
  background-color: #7fd9c7;
}

.gallery:hover .gallery-hover {
  display: block;
}